/* .img{
    height: 35px;
    width: 35px;
    background-color: azure;
    border-radius: 18px;
    margin-bottom: -30px;
    position: relative;
    left: 150px;
    top: 10px;
}
#username{
    position: relative;
    left: 70px;
    top: 8px;
    font-size: 17px;
    margin-bottom: -20px;
    color: azure;
}
.list{
    position: relative;
    top:5px;
    left: 90%;
    height: 570px;
    width: 200px;
    background:#072a43;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1) ;
    border-radius: 10px;
    margin-right: 50px;
}
.ul{
    position: relative;
    top:65px;
    list-style-type: none;
    padding: 0px;
    margin:0px;
    border-radius: 8px;
     max-width: 400px;
}
        
.li{
    padding: 14px 20px;
    color: azure;
    
    transition: background-color 0.2s;
}

.bts{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    color: black;
    border: aquamarine solid;
}
.bt{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    background-color: rgb(13, 234, 160);
}
.bt:hover{
    height: 52px;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    color: black;
    position: relative;
    right: 5px;
    transition: 0.5s;
}
.signout{
    height: 50px;
    width: 160px;
    border:  solid red;
    color: azure;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 20px;
} */