/* .img{
    height: 35px;
    width: 35px;
    background-color: azure;
    border-radius: 18px;
    margin-bottom: -30px;
    position: relative;
    left: 150px;
    top: 10px;
}
#username{
    position: relative;
    left: 70px;
    top: 8px;
    font-size: 17px;
    margin-bottom: -20px;
    color: azure;
}
.list{
    position: relative;
    top:5px;
    left: 90%;
    height: 570px;
    width: 200px;
    background:#072a43;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1) ;
    border-radius: 10px;
    margin-right: 50px;
}
.ul{
    position: relative;
    top:65px;
    list-style-type: none;
    padding: 0px;
    margin:0px;
    border-radius: 8px;
     max-width: 400px;
}
        
.li{
    padding: 14px 20px;
    color: azure;
    
    transition: background-color 0.2s;
}

.bts{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    color: black;
    border: aquamarine solid;
}
.bt{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    background-color: rgb(13, 234, 160);
}
.bt:hover{
    height: 52px;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    color: black;
    position: relative;
    right: 5px;
    transition: 0.5s;
}
.signout{
    height: 50px;
    width: 160px;
    border:  solid red;
    color: azure;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 20px;
} */

.list-container {
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: #20C997 #0a2538;
}

.list-container::-webkit-scrollbar {
  width: 5px;
}

.list-container::-webkit-scrollbar-track {
  background: #0a2538;
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
  background: #20C997;
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #1aa67e;
}

/* Animation for active menu item */
@keyframes pulse-subtle {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(32, 201, 151, 0.3);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(32, 201, 151, 0);
  }
}

.bg-gradient-to-r.from-\\[\\#20C997\\].to-\\[\\#1aa67e\\] {
  animation: pulse-subtle 3s infinite;
}

/* Hover effects */
.navigation-section button {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-section button:hover {
  transform: translateX(-4px);
}

/* Glass effect for bottom section */
.bottom-section {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}