#search{
    background-color: white;
    height: 30px;
    width: 420px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 32%;
}
#image{
    position: absolute;
    left: 796px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    top: 15px;
}