.main{
    background-color: #051C2D;
    height: 600px;
    width:100%;
    display: flex;
    justify-content: center;
}
.sec{
  height: 400px;
  width: 550px;
  background-color: rgba(8, 47, 77, 1);
  position: absolute;
  top: 120px;
  border-radius: 30px;
  
  
 
}
.child{
    background-color: azure;
    height: 396px;
    width: 60%;
    position: absolute;
    bottom: 2px;
    left: 235px;
    border-radius: 25px;
    
    
}
.inside{
    background-color: azure;
    position: absolute;
    bottom: 30px;
    margin: 10px;
    left: 17px;
    height: 320px;
    width: 283px;
    box-shadow: 0px 0px 5px;
    border-radius: 20px;
}
.h1{
    text-align: right;
    font-size: 30px;
    position: relative;
    right:16px;
    font-weight: bold;
}
p{
    text-align: right;
    font-size: 20px;
    margin-right: 13px;
    
    padding-top: 10px;
}
input{
    position: relative;
    top: -20px;
    left: 28px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color:rgba(48, 48, 48, 0.08);
    box-shadow: 0px 0px 2px ;
    width: 85%; 
    height: 30px;
}
.signup{
    height: 35px;
    width: 70%;
    background-color:rgb(3, 32, 54) ;
    color: white;
    border-radius: 8px;
    position: absolute;
    bottom: 15px;
    left: 50px;
}

.h2{
    font-weight: bold;
    font-size: 20px;
    color: azure;
    position: relative;
    bottom: -130px;
    left: 5px;

}
.p{
    text-align: left;
    color: azure;
    font-size: 13px;
    position: relative;
    bottom: -130px;
    left: 60px;
}
.signin{
    height: 30px;
    width: 200px;
    position: absolute;
    left: 17px;
    bottom: 41%;
    background-color: azure;
    color: #051C2D;
    border-radius: 5px;
}